@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Raleway', sans-serif;
}


a{
	text-decoration: none;
}
i{
	color: black;
}
img{
	width: 100%;
	height: 100%;
}

.fa-chevron-left{
	color: white;
}
.fa-chevron-right{
	color: white;
}


.navbar{
	background-color: rgb(230, 240, 230);
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	align-items: center;
}
.navbar .logo{
	width: 400px;
	margin-left: 110px;
	height: 150px;
	grid-column: 4 / 5;
}
.navbar .menu{
	grid-column: 3 / 7;
	display: flex;
	justify-content: space-around;
}
.navbar .menu li{
	list-style: none;
}
ul ul{
	position: absolute;
	display: none;
}
ul li{
	display: block;
	padding: 2%;
}
li:hover{
	color: rgb(230, 240, 230);
	font-weight: bold;
}
a:hover{
	color: black;

}
ul li:hover ul{
	display: block;
	background-color: rgb(230, 240, 230);
	width: 80px;
}
.navbar .menu a{
	text-decoration: none;
	color: black;
	cursor: pointer;
}
.navbar .menu a:hover{
	color: rgb(23, 54, 9);
}
.navbar .menu-bar{
	display: none;
	grid-column: 7 / 8;
	grid-row: 1 / 2 ;
}
.navbar .shopping{
	grid-column: 8 / 9;
	grid-row: 1 / 2 ;
	cursor: pointer;
}

