@media only screen and (max-width: 600px) and (min-width: 300px) {
.navbar {
	position: relative;
}
.navbar .shopping{
	display: none;
}
.navbar .menu-bar{
	display: block;
	grid-column: 7 / 8;
	font-size: 1.5em;
	cursor: pointer;
}
.navbar .menu{
	position: absolute;
	width: 30%;
	height: 40vh;
	display: grid;
	align-items: center;
	background-color: rgb(230, 240, 230);
	margin-top: 30em;
	transform: translateX(400%);
	transition: all 1s;
}

.navbar .menu-toggle {
	transform: translateX(250%);
}


/*  Section main */

.hero .info-content{
	grid-column: 2 / 8;
}

.hero h1{
	font-size: 3.5em;
	
}

.carrusel{
	position: relative;
	height: 100%;
}

#contenidocarrusel{
	height: 200px;
	width: 350px;
	margin-left: 100px;
}

.totalproductos{
	display: grid;
	grid-template-rows: repeat(13, 1fr);
}

.joyero{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.imagen1{
	height: 5px;
}
.info{
	grid-column: 1 / 9;

}

}